<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="icon" type="image/x-icon" href="/img/myFavicon.jpg">
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>

    <%# =========== Display time =========== %>
    <p>表示時間を選んでください。</p>
    <% 
        let displayTimeNum = 3;         // e.g., if it 3, display times are 10, 20, 30.
        let displayTimeInterval = 10;   /* sec */
        let displayTimeMin = 10;        /* sec */
        let displayTimeArray = [];
        for (let i=0; i <= displayTimeNum-1; i++) {
            displayTime = displayTimeMin + i*displayTimeInterval;
            displayTimeArray.push(displayTime);
        }
    %>
    <% for (let i=0; i<=displayTimeArray.length-1; i++) { %>  
    <label>
        <% if (i == 0) { %>
            <input type="radio" name="displayTime" checked/>
        <% } else { %>
            <input type="radio" name="displayTime"/>
        <% } %>
        <%= displayTimeArray[i] %>秒
    </label>
    <% } %>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const categoryForm = document.getElementById('categoryForm');
            const categories = categoryForm.querySelectorAll('input[name="category-name"]');
            const storeForm = document.getElementById('storeForm');
            const selectStoreName = document.getElementById('selectStoreName');

            categories.forEach(category => {
                category.addEventListener('change', () => {
                    const selectedCategories = [];
                    categories.forEach(category => {
                        if (category.checked) {
                            selectedCategories.push(category.value);
                        }
                    });
                    console.log('Selected categories:', selectedCategories);
                });
            });
        });
    </script>

    <%# =========== Category =========== %>
    <form id="categoryForm">
        <% categories.forEach(category => { %>
        <label>
            <input type="checkbox" name="category-name" value="<%= category %>"
            <%= decryptedCategory.includes(category) ? 'checked' : '' %> />
            <%= category %>
        </label><br>
        <% }); %>
    </form>


    <%# =========== store names =========== %>
    <%# display selected storename %>
    <h3>店舗一覧</h3>
    
    <%#  select all or cancell all %>
    <label>
        <input id="buttonAllSelect" type="button" name="select" value="全選択"/>
    </label>

    <label>
        <input id="buttonAllCancellation" type="button" name="select" value="全解除"/>
    </label>
    <p id="displayStoreName"></p><%# Selcted store names are displayed here. %>
    
    <form id="storeForm">
        <select id="selectStoreName" name="store-name" multiple size="10">
            <% storeNames.forEach(store => { %>
                <option value="<%= store %>" 
                <%= decryptedStorename.includes(store) ? 'selected' : '' %> ><%= store %></option>
            <% }); %>
        </select>
    </form>
    

    <script src="js/storeName.js"></script>
    <script>
        const select = document.getElementById('selectStoreName');
        select.addEventListener('change', (e) => {
            const selectValue = document.getElem
        })
    </script>



    <p><a href="index">Exit</a></p>
  
        
</body>

</html>